EVENTS_EMAIL=
EVENTS_PASSWORD=
GMAIL_EMAIL=
GMAIL_PASSWORD=
PRACTICE_USERNAME=
PRACTICE_PASSWORD=
PRACTICE_FORM_NAME=
PRACTICE_FORM_EMAIL=
PRACTICE_FORM_PASSWORD=
SHOP_EMAIL=
SHOP_PASSWORD=
SHOP_REGISTRATION_EMAIL=
SHOP_REGISTRATION_PASSWORD=
YAHOO_EMAIL=
YAHOO_PASSWORD=